<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Song</title>
  </head>
  <body>
    <h3>Song</h3>
    <%= @song.title %><br>
    <%= @song.artist_name %>
    <%= link_to @song.destroy.title %>

  </body>
</html>
